bluepyopt >=1.11.7
h5py >=3.2.1
ipyparallel>=6.3.0
matplotlib>=3.3.4
mpi4py>=3.0.3
numpy>=1.20.2
scipy>=1.6.3
sonata>=0.0.2
pyzmq>=22.0.3
numexpr>=2.7.3
# allensdk  # Optional, only needed for downloading meshes from Allen Institute
argparse
snudda
NEURON>=7.8.2
pyswarms>=1.3.0
setuptools
psutil >= 5.8.0
cython  # Needed for compiling NEURON
numba>=0.55.1  # Optimisation

