bluepyopt >=1.9.126
h5py >=3.1.0
ipyparallel>=6.3.0
matplotlib>=3.3.4
mpi4py>=3.0.3
numpy>=1.20.1
scipy>=1.6.1
sonata>=0.0.2
pyzmq>=22.0.3
numexpr
allensdk
argparse
snudda
NEURON
pyswarms
setuptools
psutil
