bluepyopt >= 1.14.18
h5py >=3.13.0
ipyparallel>=9.0.1
matplotlib>=3.9.4
mpi4py>=4.0.3
numba>=0.60.0  # Optimisation, 0.60 requires numpy 2.0 and neuron is not yet compatible 0.59.1 worked
numpy>=1.26.4   # -- numpy requirement satisfied through numba's numpy dependence
scipy>=1.13.1
sonata>=0.0.1
# pyzmq>=22.0.3
numexpr>=2.10.2
# allensdk  # Optional, only needed for downloading meshes from Allen Institute
neuron>=8.2.6
pyswarms>=1.3.0
setuptools
psutil >= 7.0.0
cython  # Needed for compiling NEURON
wheel  # setup.py seems to need this now
# open3d >= 0.18.0
vedo
ruamel.yaml>=0.18.10
quantities>=0.16.2
# igraph
# snudda

# python-libsbml   # optional, to get access to libsbml

# Testing alternatives to open3d... but it was slower
# trimesh
# rtree
